@use "../mixins/" as *;

/*{ "key":"four-per-row", "value":"", "name":"Four Per Row", "columns":4 }*/
[data-layout-smart='four-per-row'] {

    @include mediaResponsive("tablet-pro-up") {
        @include grid-columns($columns: 2, $min: 0px, $max: 1fr, $gap: 24px);
    }

    @include mediaResponsive("desktop-small-up") {
        @include grid-columns($columns: 4, $min: 0px, $max: 1fr, $gap: 24px);
    }

    &[data-layout-use-full-bleed=false] {
        @include mediaResponsive("tablet-pro-up") {
            gap: 0;
        }
    }

    .column-2-first {
        grid-column: 1 / 3;
    }

    .column-2-center {
        grid-column: 2 / 4;
    }

    .column-2-last {
        grid-column: 3 / 5;
    }

    .column-3-first {
        grid-column: 1 / 4;
    }

    .column-3-last {
        grid-column: 2 / 5;
    }

    .column-4-all {
        grid-column: 1 / 5;
    }

}