// Flex Layout parent
@mixin flex-layout(
    $direction: null,
    $justify: null,
    $align: null,
    $wrap: null,
    $gap: null
) {
    display: flex;
    @if $direction {
        flex-direction: $direction;
    }

    @if $justify {
        justify-content: $justify;
    }

    @if $align {
        align-items: $align;
    }

    @if $wrap {
        flex-wrap: $wrap;
    }

    @if $gap {
        gap: $gap;
    }
}

// Flex columns child
@mixin flex-columns($flex-grow: null, $flex-basis: null, $max-width: null, $offset: null) {
    
    @if $flex-grow {
        flex: $flex-grow $flex-basis;
    }

    @if $max-width {
        max-width: $max-width;
    }

    @if $offset != null and type-of($offset) == 'number' {
        margin-left: $flex-grow * $offset;
    }
}

// Grid Layout parent
@mixin grid-layout(
    $columns,
    $columnGap: 24px,
    $rowGap: 24px,
    $justifyItems: null,
    $alignItems: null,
    $justifyContent: null,
    $alignContent: null,
    $gridAutoFlow: null
) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $columnGap;
    row-gap: $rowGap;

    @if $justifyItems {
        justify-items: $justifyItems;
    }

    @if $alignItems {
        align-items: $alignItems;
    }

    @if $justifyContent {
        justify-content: $justifyContent;
    }

    @if $alignContent {
        align-content: $alignContent;
    }

    @if $gridAutoFlow {
        grid-auto-flow: $gridAutoFlow;
    }
}

// Grid Columns child
@mixin grid-columns($columns: null, $min: null, $max: null, $gap: 0px) {
    display: grid;

    @if $columns {
        grid-template-columns: repeat($columns, minmax($min, $max));
    }

    @if $gap {
        gap: $gap;
    }
}