//  Purpose: Define button styles
@use "../mixins/" as *;

.button,
button {
    position: relative;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--button-text-color);
    background: var(--button-background);
    padding: var(--space-18) var(--space-24);
    font-size: var(--typography-body-medium);
    font-weight: var(--font-weight-value-700);
    transition: var(--transition-value-300ms);
    box-shadow: -6px 6px 0px 0px var(--button-shadow-background);

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &:hover:not([disabled]):not(:focus),
    &:focus,
    &:disabled {
        --button-shadow-position: -2px 2px;
        transform: translate(-4px, 4px);
    }

    &:hover:not([disabled]):not(:focus)::after,
    &:focus::after {
        transform: translateX(var(--space-8));
    }

    &:focus {
        border-color: var(--button-shadow-background);
        box-shadow: -6px 6px 0px 0px var(--button-shadow-background), 0 4px 20px 0 var(--button-shadow-focus-color);
    }

    &.button--primary {
        @include button-primary;
    }

    &.button--tertiary {
        @include button-tertiary;
    }

    &.button--black {
        @include button-black;
    }

    &.button--white {
        @include button-white;
    }
    &.button--blue {
        @include button-blue;
    }
    *.button--yellow {
        @include button-yellow;
    }
}

// end button
