//  Purpose: Define button styles
@use "../mixins/" as *;

button {
    position: relative;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-main {
    position: relative;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: currentColor;
    padding: var(--space-12) var(--space-24);
    font-size: var(--typography-bodytext-m);
    font-weight: 500;
    transition: all 0.2s;
    box-shadow: -6px 6px 0px 0px rgb(var(--border-color));

    @include mediaResponsive("tablet-pro-up") {
        padding: var(--space-18) var(--space-24);
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &:hover:not([disabled]):not(:focus),
    &:focus,
    &:disabled {
        transform: translate(3px, 3px);
    }

    &.button--primary {
        @include button-primary;
    }

    &.button--tertiary {
        @include button-tertiary;
    }

    &.button--black {
        @include button-black;
    }

    &.button--white {
        @include button-white;
    }
    &.button--blue {
        @include button-blue;
    }
    *.button--yellow {
        @include button-yellow;
    }
}

// end button
