@use "../mixins/" as *;

:root {
    --button-border-width: 1px;
    --button-border-style: solid;
    --button-border-radius: 0;
    --button-padding: var(--space-12) var(--space-24);
    --button-font-weight: 700;
    --button-font-size: var(--typography-bodytext-m);
    --button-line-height: 1.5;
    --button-disabled-opacity: 0.4;
    --button-hover-background: var(--color-gray-300);
    --button-hover-color: var(--color-black);
}

.cta-button__link-icon {
    display: inline-block;
    position: relative;
    font-weight: 500;

    span {
        display: inline-block;
        position: relative;
        padding-right: var(--space-50);

        &::after {
            display: block;
            position: absolute;
            top: 9px;
            right: 14px;
            flex-shrink: 0;
            transform: rotate(45deg);
            transition: all 0.2s;
            border-top: 2px solid currentcolor;
            border-right: 2px solid currentcolor;
            width: 8px;
            height: 8px;
            content: '';
        }

        &::before {
            position: absolute;
            top: var(--space-12);
            right: 14px;
            flex-shrink: 0;
            transition: all 0.2s;
            background: currentcolor;
            width: 18px;
            height: 2px;
            content: '';
        }
    }

    &:hover {
        span {
            &::after,
            &::before {
                right: 0;
            }
            &::before {
                width: var(--space-32);
            }
        }
    }
}