@use "../mixins/" as *;

/*{ "key":"white-100", "value":'[data-theme="white-100"]', "name":"White 100%", "isdarkcolor":"False", "allowedinblocks":"True"}*/
[data-theme="white-100"] {
    background: rgba(var(--color-rgba-white), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-white), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-white), 1);
    --footer-color-text-main: rgba(var(--color-rgba-gray-dark), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-gray-dark), 1);
        &:hover {
            color: rgba(var(--color-rgba-gray-dark), .6);
        }
    }
    //button
    @include button-tertiary;
}

/*{ "key":"black-100", "value":'[data-theme="black-100"]', "name":"Black 100%", "isdarkcolor":"True", "allowedinblocks":"True"}*/
[data-theme="black-100"] {
    background: rgba(var(--color-rgba-black), 1);
    color: rgba(var(--color-rgba-white), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-black), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-black), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-black), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-blue), 1);
        &:hover {
            color: rgba(var(--color-rgba-blue), .6);
        }
    }
    //button
    @include button-black;
}

/*{ "key":"beige-100", "value":'[data-theme="beige-100"]', "name":"Beige 100%", "isdarkcolor":"False", "allowedinblocks":"True"}*/
[data-theme="beige-100"] {
    background: rgba(var(--color-rgba-beige), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-beige), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-beige), 1);
    --footer-color-text-main: rgba(var(--color-rgba-gray-dark), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-gray-dark), 1);
        &:hover {
            color: rgba(var(--color-rgba-gray-dark), .6);
        }
    }
    //button
    @include button-beige;
}

/*{ "key":"gray-100", "value":'[data-theme="gray-100"]', "name":"Gray 100%", "isdarkcolor":"False", "allowedinblocks":"True"}*/
[data-theme="gray-100"] {
    background: rgba(var(--color-rgba-gray), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-gray), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-white), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray-dark), 1);
    --form-color-input-background: rgba(var(--color-rgba-black), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-gray), 1);
    --footer-color-text-main: rgba(var(--color-rgba-black), 1);
    a {
        color: rgba(var(--color-rgba-black), 1);
        &:hover {
            color: rgba(var(--color-rgba-black), .6);
        }
    }
    //button
    @include button-black;
}

/*{ "key":"blue-100", "value":'[data-theme="blue-100"]', "name":"Blue 100%", "isdarkcolor":"False", "allowedinblocks":"True"}*/
[data-theme="blue-100"] {
    background: rgba(var(--color-rgba-blue), 1);
    color: rgba(var(--color-rgba-white), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-blue), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-blue), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-white), 1);
        &:hover {
            color: rgba(var(--color-rgba-white), .6);
        }
    }
    //button
    @include button-white;
}

/*{ "key":"yellow-100", "value":'[data-theme="yellow-100"]', "name":"Yellow 100%", "isdarkcolor":"False", "allowedinblocks":"True"}*/
[data-theme="yellow-100"] {
    background: rgba(var(--color-rgba-yellow), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-yellow), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-yellow), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-gray-dark), 1);
        &:hover {
            color: rgba(var(--color-rgba-gray-dark), .6);
        }
    }
    //button
    @include button-gray;
}

/*{ "key":"green-100", "value":'[data-theme="green-100"]', "name":"Green 100%", "isdarkcolor":"True", "allowedinblocks":"True"}*/
[data-theme="green-100"] {
    background: rgba(var(--color-rgba-green), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-green), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-green), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-gray-dark), 1);
        &:hover {
            color: rgba(var(--color-rgba-gray-dark), .6);
        }
    }
    //button
    @include button-beige;
}

/*{ "key":"primary-100", "value":'[data-theme="primary-100"]', "name":"Primary 100%", "isdarkcolor":"True", "allowedinblocks":"True"}*/
[data-theme="primary-100"] {
    background: rgba(var(--color-rgba-primary), 1);
    color: rgba(var(--color-rgba-white), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-primary), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-primary), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-white), 1);
        &:hover {
            color: rgba(var(--color-rgba-white), .6);
        }
    }
    //button
    @include button-white;
}

/*{ "key":"tertiary-100", "value":'[data-theme="tertiary-100"]', "name":"tertiary 100%", "isdarkcolor":"True", "allowedinblocks":"True"}*/
[data-theme="tertiary-100"] {
    background: rgba(var(--color-rgba-tertiary), 1);
    color: rgba(var(--color-rgba-black), 1);
    //header
    --header-color-background-header: rgba(var(--color-rgba-tertiary), 1);
    //body
    --body-color-background-inner: rgba(var(--color-rgba-white), 1);
    //form
    --form-color-input-text: rgba(var(--color-rgba-black), 1);
    --form-color-input-border: rgba(var(--color-rgba-gray), 1);
    --form-color-input-background: rgba(var(--color-rgba-white), 1);
    //footer
    --footer-color-background-footer: rgba(var(--color-rgba-tertiary), 1);
    --footer-color-text-main: rgba(var(--color-rgba-white), 1);
    //links common
    a {
        color: rgba(var(--color-rgba-white), 1);
        &:hover {
            color: rgba(var(--color-rgba-gray-white), .6);
        }
    }
    //button
    @include button-beige;
}