// Purpose: Define the css
@use "../mixins" as *;

.flex-1 {
    flex: 1;
}

.d-none {
    display: none;
}

.d-m-none {
    @include mediaResponsive('tablet-pro-down') {
        display: none;
    }
}