// Purpose: Define the typography for the project

@use "../mixins/" as *;

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: var(--fontfamily-body);
}

body {
    font-family: var(--fontfamily-body);
    font-size: var(--typography-bodytext-m);
    line-height: 150%;

    @include mediaResponsive("tablet-pro-up") {}
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    position: relative;
    padding-bottom: var(--space-4);
    display: inline-block;

    @include link-animation;

    &:hover {
        &::before {
            width: 100%;
        }

    }

    &.link-not-before {
        &::before {
            display: none;
        }
    }
}

.preamble,
.preamble p {
    font-size: var(--typography-preamble-m);

    @include mediaResponsive("tablet-pro-up") {}
}

small,
.small {
    font-size: var(--typography-preamble-s);

    @include mediaResponsive("tablet-pro-up") {}
}

.large {
    font-size: var(--typography-preamble-l);

    @include mediaResponsive("tablet-pro-up") {}
}

p,
time,
.text {
    font-size: var(--typography-preamble-m);

    @include mediaResponsive("tablet-pro-up") {}
}
