@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --default-color-rgba-white: 255,255,255;
  --default-color-rgba-ghost-white: 250,250,250;
  --default-color-rgba-black: 0,0,0;
  --default-color-rgba-dark-slate-gray: 33,37,41;
  --default-color-rgba-dark-gray: 66,66,66;
  --default-color-rgba-gainsboro: 222,222,222;
  --default-color-rgba-whitesmoke: 245,245,245;
  --default-color-rgba-light-gray: 238,238,238;
  --default-color-rgba-dark-blue: 31,85,146;
  --default-color-rgba-light-blue: 92,187,246;
  --default-color-rgba-teal-blue: 1,135,134;
  --default-color-rgba-dodger-blue: 24,103,192;
  --default-color-rgba-vivid-blue: 33,150,243;
  --default-color-rgba-dark-red: 176,0,32;
  --default-color-rgba-grass-green: 76,175,80;
  --default-color-rgba-deep-orange: 251,140,0;
  --default-color-rgba-salmon-pink: 229,115,115;
  --default-color-rgba-deep-blue: 0,92,175;
  --default-color-rgba-steel-blue: 176,209,232;
}

:root {
  --dark-color-rgba-dark-gray: 18,18,18;
  --dark-color-rgba-jet-black: 33,33,33;
  --dark-color-rgba-charcoal-gray: 71,71,71;
  --dark-color-rgba-neutral-gray: 163,163,163;
  --dark-color-rgba-cerulean-blue: 39,124,193;
  --dark-color-rgba-sea-green: 72,169,166;
  --dark-color-rgba-rose-pink: 207,102,121;
  --dark-color-rgba-jet-gray: 51,51,51;
  --dark-color-rgba-deep-pink: 255,64,129;
  --dark-color-rgba-slate-gray: 52,52,52;
  --dark-color-rgba-silver: 204,204,204;
}

:root {
  --space-4: 4px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-36: 36px;
  --space-40: 40px;
  --space-43: 43px;
  --space-48: 48px;
  --space-50: 50px;
  --space-52: 52px;
  --space-55: 55px;
  --space-60: 60px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --space-90: 90px;
  --space-100: 100px;
  --space-110: 110px;
  --space-120: 120px;
}

:root {
  --fontfamily-body: "IBM Plex Sans", sans-serif;
  --fontfamily-heading: "IBM Plex Sans", sans-serif;
  --fontfamily-subheading: "IBM Plex Sans", sans-serif;
  --fontfamily-preamble: "IBM Plex Sans", sans-serif;
  --typography-bodytext-2xl: 2.4rem;
  --typography-bodytext-xl: 2rem;
  --typography-bodytext-l: 1.8rem;
  --typography-bodytext-m: 1.6rem;
  --typography-bodytext-s: 1.4rem;
  --typography-bodytext-xs: 1.2rem;
  --typography-bodytext-2xs: 1rem;
  --typography-preamble-2xl: 2.4rem;
  --typography-preamble-xl: 2rem;
  --typography-preamble-l: 1.8rem;
  --typography-preamble-m: 1.6rem;
  --typography-preamble-s: 1.4rem;
  --typography-preamble-xs: 1.2rem;
  --typography-preamble-2xs: 1rem;
  --typography-heading-h1-m: 6.8rem;
  --typography-heading-h2-m: 5rem;
  --typography-heading-h3-m: 3rem;
  --typography-heading-h4-m: 2.4rem;
  --typography-heading-h5-m: 1.8rem;
  --typography-heading-h6-m: 1.6rem;
  --typography-lineheight-100: 100%;
  --typography-lineheight-110: 110%;
  --typography-lineheight-120: 120%;
  --typography-lineheight-130: 130%;
  --typography-lineheight-140: 140%;
  --typography-lineheight-150: 150%;
  --typography-lineheight-160: 160%;
  --typography-lineheight-170: 170%;
  --typography-lineheight-180: 180%;
  --typography-lineheight-190: 190%;
}

:root {
  --opacity-01: 0.1;
  --opacity-02: 0.2;
  --opacity-03: 0.3;
  --opacity-04: 0.4;
  --opacity-05: 0.5;
  --opacity-06: 0.6;
  --opacity-07: 0.7;
  --opacity-08: 0.8;
  --opacity-09: 0.9;
  --opacity-1: 1;
}

:root {
  --container-width-3xlarge: 1776px;
  --container-width-2xlarge: 1512px;
  --container-width-xlarge: 1440px;
  --container-width-large: 1280px;
  --container-width-medium: 1024px;
  --container-width-small: 768px;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: var(--fontfamily-body);
}

body {
  font-family: var(--fontfamily-body);
  font-size: var(--typography-bodytext-m);
  line-height: 150%;
}
*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: underline;
  word-break: break-word;
  outline-style: none;
  transition: all 0.3s ease;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 150%;
}

h1,
.h1 {
  font-size: var(--typography-heading-h1-m);
}
h2,
.h2 {
  font-size: var(--typography-heading-h2-m);
}
h3,
.h3 {
  font-size: var(--typography-heading-h3-m);
}
h4,
.h4 {
  font-size: var(--typography-heading-h4-m);
}
h5,
.h5 {
  font-size: var(--typography-heading-h5-m);
}
h6,
.h6 {
  font-size: var(--typography-heading-h6-m);
}
.preamble,
.preamble p {
  font-size: var(--typography-preamble-m);
}
small,
.small {
  font-size: var(--typography-preamble-s);
}
.large {
  font-size: var(--typography-preamble-l);
}
p,
time,
.text {
  font-size: var(--typography-preamble-m);
}
.flex-1 {
  flex: 1;
}

@media (max-width: 1023px) {
  .d-m-none {
    display: none;
  }
}

:root {
  --theme-background: var(--default-color-rgba-white);
  --theme-surface: var(--default-color-rgba-white);
  --theme-surface-bright: var(--default-color-rgba-ghost-white);
  --theme-surface-light: var(--default-color-rgba-light-gray);
  --theme-surface-variant: var(--default-color-rgba-dark-gray);
  --theme-on-surface-variant: var(--default-color-rgba-light-gray);
  --theme-primary: var(--default-color-rgba-dodger-blue);
  --theme-primary-darken-1: var(--default-color-rgba-dark-blue);
  --theme-secondary: var(--default-color-rgba-light-blue);
  --theme-secondary-darken-1: var(--default-color-rgba-teal-blue);
  --theme-error: var(--default-color-rgba-red);
  --theme-info: var(--default-color-rgba-vivid-blue);
  --theme-success: var(--default-color-rgba-green);
  --theme-warning: var(--default-color-rgba-deep-orange);
  --theme-surface-variant-alt: var(--default-color-rgba-gainsboro);
  --theme-tertiary: var(--default-color-rgba-salmon-pink);
  --theme-accent: var(--default-color-rgba-deep-blue);
  --theme-quarternary: var(--default-color-rgba-steel-blue);
  --theme-on-background: var(--default-color-rgba-black);
  --theme-on-surface: var(--default-color-rgba-black);
  --theme-on-surface-bright: var(--default-color-rgba-black);
  --theme-on-surface-light: var(--default-color-rgba-black);
  --theme-on-primary: var(--default-color-rgba-white);
  --theme-on-primary-darken-1: var(--default-color-rgba-white);
  --theme-on-secondary: var(--default-color-rgba-black);
  --theme-on-secondary-darken-1: var(--default-color-rgba-white);
  --theme-on-error: var(--default-color-rgba-white);
  --theme-on-info: var(--default-color-rgba-white);
  --theme-on-success: var(--default-color-rgba-white);
  --theme-on-warning: var(--default-color-rgba-white);
  --theme-on-surface-variant-alt: var(--default-color-rgba-black);
  --theme-on-tertiary: var(--default-color-rgba-white);
  --theme-on-accent: var(--default-color-rgba-white);
  --theme-on-quarternary: var(--default-color-rgba-black);
  --theme-kbd: var(--default-color-rgba-dark-slate-gray);
  --theme-on-kbd: var(--default-color-rgba-white);
  --theme-code: var(--default-color-rgba-whitesmoke);
  --theme-on-code: var(--default-color-rgba-black);
  --border-color: var(--default-color-rgba-black);
  --theme-background-overlay-multiplier: 1;
  --theme-quarternary-overlay-multiplier: 1;
  --theme-surface-overlay-multiplier: 1;
  --theme-tertiary-overlay-multiplier: 1;
  --theme-surface-bright-overlay-multiplier: 1;
  --theme-surface-variant-alt-overlay-multiplier: 1;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-warning-overlay-multiplier: 1;
  --theme-secondary-overlay-multiplier: 1;
  --theme-success-overlay-multiplier: 1;
  --theme-info-overlay-multiplier: 1;
  --theme-secondary-darken-1-overlay-multiplier: 1;
  --theme-surface-variant-overlay-multiplier: 2;
  --theme-accent-overlay-multiplier: 2;
  --theme-error-overlay-multiplier: 2;
  --theme-primary-overlay-multiplier: 2;
  --theme-primary-darken-1-overlay-multiplier: 2;
  --border-opacity: 0.12;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.04;
  --hover-opacity: 0.04;
  --focus-opacity: 0.12;
  --selected-opacity: 0.08;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.12;
  --dragged-opacity: 0.08;
}

[data-site-theme=dark] {
  color-scheme: dark;
  --theme-background: var(--dark-color-rgba-dark-gray);
  --theme-surface: var(--dark-color-rgba-jet-black);
  --theme-surface-bright: var(--dark-color-rgba-charcoal-gray);
  --theme-surface-light: var(--default-color-rgba-dark-gray);
  --theme-surface-variant: var(--dark-color-rgba-neutral-gray);
  --theme-on-surface-variant: var(--default-color-rgba-dark-gray);
  --theme-primary: var(--default-color-rgba-vivid-blue);
  --theme-primary-darken-1: var(--dark-color-rgba-cerulean-blue);
  --theme-secondary: var(--default-color-rgba-dark-gray);
  --theme-secondary-darken-1: var(--dark-color-rgba-sea-green);
  --theme-error: var(--dark-color-rgba-rose-pink);
  --theme-info: var(--default-color-rgba-vivid-blue);
  --theme-success: var(--default-color-rgba-grass-green);
  --theme-warning: var(--default-color-rgba-deep-orange);
  --theme-surface-variant-alt: var(--dark-color-rgba-jet-gray);
  --theme-tertiary: var(--default-color-rgba-salmon-pink);
  --theme-accent: var(--dark-color-rgba-deep-pink);
  --theme-quarternary: var(--default-color-rgba-steel-blue);
  --theme-on-background: var(--default-color-rgba-white);
  --theme-on-surface: var(--default-color-rgba-white);
  --theme-on-surface-bright: var(--default-color-rgba-white);
  --theme-on-surface-light: var(--default-color-rgba-white);
  --theme-on-primary: var(--default-color-rgba-white);
  --theme-on-primary-darken-1: var(--default-color-rgba-white);
  --theme-on-secondary: var(--default-color-rgba-white);
  --theme-on-secondary-darken-1: var(--default-color-rgba-white);
  --theme-on-error: var(--default-color-rgba-white);
  --theme-on-info: var(--default-color-rgba-white);
  --theme-on-success: var(--default-color-rgba-white);
  --theme-on-warning: var(--default-color-rgba-white);
  --theme-on-surface-variant-alt: var(--default-color-rgba-white);
  --theme-on-tertiary: var(--default-color-rgba-white);
  --theme-on-accent: var(--default-color-rgba-white);
  --theme-on-quarternary: var(--default-color-rgba-black);
  --theme-kbd: var(--default-color-rgba-dark-slate-gray);
  --theme-on-kbd: var(--default-color-rgba-white);
  --theme-code: var(--dark-color-rgba-slate-gray);
  --theme-on-code: var(--dark-color-rgba-silver);
  --border-color: var(--default-color-rgba-white);
  --theme-surface-variant-alt-overlay-multiplier: 1;
  --theme-secondary-overlay-multiplier: 1;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright-overlay-multiplier: 1;
  --theme-surface-overlay-multiplier: 1;
  --theme-background-overlay-multiplier: 1;
  --theme-surface-variant-overlay-multiplier: 2;
  --theme-primary-overlay-multiplier: 2;
  --theme-primary-darken-1-overlay-multiplier: 2;
  --theme-secondary-darken-1-overlay-multiplier: 2;
  --theme-error-overlay-multiplier: 2;
  --theme-info-overlay-multiplier: 2;
  --theme-success-overlay-multiplier: 2;
  --theme-warning-overlay-multiplier: 2;
  --theme-tertiary-overlay-multiplier: 2;
  --theme-accent-overlay-multiplier: 2;
  --theme-quarternary-overlay-multiplier: 2;
  --border-opacity: 0.12;
  --medium-emphasis-opacity: 0.7;
  --disabled-opacity: 0.5;
  --hover-opacity: 0.04;
  --focus-opacity: 0.12;
  --selected-opacity: 0.08;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.16;
  --dragged-opacity: 0.08;
  --idle-opacity: 0.1;
  --high-emphasis-opacity: 1;
}

[data-site-theme=light] {
  color-scheme: normal;
  --theme-background: var(--default-color-rgba-white);
  --theme-surface: var(--default-color-rgba-white);
  --theme-surface-bright: var(--default-color-rgba-ghost-white);
  --theme-surface-light: var(--default-color-rgba-light-gray);
  --theme-surface-variant: var(--default-color-rgba-dark-gray);
  --theme-on-surface-variant: var(--default-color-rgba-light-gray);
  --theme-primary: var(--default-color-rgba-dodger-blue);
  --theme-primary-darken-1: var(--default-color-rgba-dark-blue);
  --theme-secondary: var(--default-color-rgba-light-blue);
  --theme-secondary-darken-1: var(--default-color-rgba-teal-blue);
  --theme-error: var(--default-color-rgba-red);
  --theme-info: var(--default-color-rgba-vivid-blue);
  --theme-success: var(--default-color-rgba-green);
  --theme-warning: var(--default-color-rgba-deep-orange);
  --theme-surface-variant-alt: var(--default-color-rgba-gainsboro);
  --theme-tertiary: var(--default-color-rgba-salmon-pink);
  --theme-accent: var(--default-color-rgba-deep-blue);
  --theme-quarternary: var(--default-color-rgba-steel-blue);
  --theme-on-background: var(--default-color-rgba-black);
  --theme-on-surface: var(--default-color-rgba-black);
  --theme-on-surface-bright: var(--default-color-rgba-black);
  --theme-on-surface-light: var(--default-color-rgba-black);
  --theme-on-primary: var(--default-color-rgba-white);
  --theme-on-primary-darken-1: var(--default-color-rgba-white);
  --theme-on-secondary: var(--default-color-rgba-black);
  --theme-on-secondary-darken-1: var(--default-color-rgba-white);
  --theme-on-error: var(--default-color-rgba-white);
  --theme-on-info: var(--default-color-rgba-white);
  --theme-on-success: var(--default-color-rgba-white);
  --theme-on-warning: var(--default-color-rgba-white);
  --theme-on-surface-variant-alt: var(--default-color-rgba-black);
  --theme-on-tertiary: var(--default-color-rgba-white);
  --theme-on-accent: var(--default-color-rgba-white);
  --theme-on-quarternary: var(--default-color-rgba-black);
  --theme-kbd: var(--default-color-rgba-dark-slate-gray);
  --theme-on-kbd: var(--default-color-rgba-white);
  --theme-code: var(--default-color-rgba-whitesmoke);
  --theme-on-code: var(--default-color-rgba-black);
  --border-color: var(--default-color-rgba-black);
  --theme-background-overlay-multiplier: 1;
  --theme-quarternary-overlay-multiplier: 1;
  --theme-surface-overlay-multiplier: 1;
  --theme-tertiary-overlay-multiplier: 1;
  --theme-surface-bright-overlay-multiplier: 1;
  --theme-surface-variant-alt-overlay-multiplier: 1;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-warning-overlay-multiplier: 1;
  --theme-secondary-overlay-multiplier: 1;
  --theme-success-overlay-multiplier: 1;
  --theme-info-overlay-multiplier: 1;
  --theme-secondary-darken-1-overlay-multiplier: 1;
  --theme-surface-variant-overlay-multiplier: 2;
  --theme-accent-overlay-multiplier: 2;
  --theme-error-overlay-multiplier: 2;
  --theme-primary-overlay-multiplier: 2;
  --theme-primary-darken-1-overlay-multiplier: 2;
  --border-opacity: 0.12;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.04;
  --hover-opacity: 0.04;
  --focus-opacity: 0.12;
  --selected-opacity: 0.08;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.12;
  --dragged-opacity: 0.08;
}

[data-site-theme=nebula] {
  color-scheme: dark;
  --theme-background: 15,23,42;
  --theme-background-overlay-multiplier: 1;
  --theme-primary: 52,98,227;
  --theme-primary-overlay-multiplier: 1;
  --theme-surface: 30,41,59;
  --theme-surface-overlay-multiplier: 1;
  --theme-info: 100,116,139;
  --theme-info-overlay-multiplier: 1;
  --theme-accent: 14,165,233;
  --theme-accent-overlay-multiplier: 2;
  --theme-success: 20,184,166;
  --theme-success-overlay-multiplier: 2;
  --theme-surface-light: 46,61,89;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright: 135,167,255;
  --theme-surface-bright-overlay-multiplier: 2;
  --theme-surface-variant: 51,65,85;
  --theme-surface-variant-overlay-multiplier: 1;
  --theme-on-surface-variant: 255,255,255;
  --theme-primary-darken-1: 28,45,96;
  --theme-primary-darken-1-overlay-multiplier: 1;
  --theme-secondary: 2,132,199;
  --theme-secondary-overlay-multiplier: 2;
  --theme-secondary-darken-1: 3,105,161;
  --theme-secondary-darken-1-overlay-multiplier: 1;
  --theme-error: 239,68,68;
  --theme-error-overlay-multiplier: 2;
  --theme-warning: 249,115,22;
  --theme-warning-overlay-multiplier: 2;
  --theme-on-background: 255,255,255;
  --theme-on-primary: 255,255,255;
  --theme-on-surface: 255,255,255;
  --theme-on-info: 255,255,255;
  --theme-on-accent: 255,255,255;
  --theme-on-success: 255,255,255;
  --theme-on-surface-light: 255,255,255;
  --theme-on-surface-bright: 255,255,255;
  --theme-on-primary-darken-1: 255,255,255;
  --theme-on-secondary: 255,255,255;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-warning: 255,255,255;
  --border-color: 255, 255, 255;
  --border-opacity: 0.2;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.1;
  --hover-opacity: 0.08;
  --focus-opacity: 0.12;
  --selected-opacity: 0.12;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.16;
  --dragged-opacity: 0.08;
  --theme-kbd: 30, 64, 175;
  --theme-on-kbd: 219, 234, 254;
  --theme-code: 15, 23, 42;
  --theme-on-code: 147, 197, 253;
}

[data-site-theme=polaris] {
  color-scheme: dark;
  --theme-background: 31,10,13;
  --theme-background-overlay-multiplier: 1;
  --theme-primary: 151,40,0;
  --theme-primary-overlay-multiplier: 1;
  --theme-surface: 41,17,14;
  --theme-surface-overlay-multiplier: 1;
  --theme-info: 231,129,13;
  --theme-info-overlay-multiplier: 2;
  --theme-accent: 179,80,0;
  --theme-accent-overlay-multiplier: 1;
  --theme-success: 72,106,43;
  --theme-success-overlay-multiplier: 1;
  --theme-surface-light: 119,52,33;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright: 255,167,82;
  --theme-surface-bright-overlay-multiplier: 2;
  --theme-surface-variant: 146,77,44;
  --theme-surface-variant-overlay-multiplier: 1;
  --theme-on-surface-variant: 255,255,255;
  --theme-primary-darken-1: 195,49,0;
  --theme-primary-darken-1-overlay-multiplier: 1;
  --theme-secondary: 172,25,0;
  --theme-secondary-overlay-multiplier: 1;
  --theme-secondary-darken-1: 138,22,0;
  --theme-secondary-darken-1-overlay-multiplier: 1;
  --theme-error: 255,85,85;
  --theme-error-overlay-multiplier: 2;
  --theme-warning: 255,167,38;
  --theme-warning-overlay-multiplier: 2;
  --theme-on-background: 255,255,255;
  --theme-on-primary: 255,255,255;
  --theme-on-surface: 255,255,255;
  --theme-on-info: 255,255,255;
  --theme-on-accent: 255,255,255;
  --theme-on-success: 255,255,255;
  --theme-on-surface-light: 255,255,255;
  --theme-on-surface-bright: 0,0,0;
  --theme-on-primary-darken-1: 255,255,255;
  --theme-on-secondary: 255,255,255;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-warning: 0,0,0;
  --border-color: 255, 255, 255;
  --border-opacity: 0.12;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.1;
  --hover-opacity: 0.08;
  --focus-opacity: 0.12;
  --selected-opacity: 0.12;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.16;
  --dragged-opacity: 0.08;
  --theme-kbd: 33, 37, 41;
  --theme-on-kbd: 255, 255, 255;
  --theme-code: 52, 52, 52;
  --theme-on-code: 204, 204, 204;
}

[data-site-theme=odyssey] {
  color-scheme: normal;
  --theme-background: 255,251,230;
  --theme-background-overlay-multiplier: 1;
  --theme-primary: 53,104,89;
  --theme-primary-overlay-multiplier: 2;
  --theme-surface: 255,251,230;
  --theme-surface-overlay-multiplier: 1;
  --theme-info: 55,150,111;
  --theme-info-overlay-multiplier: 1;
  --theme-accent: 185,228,201;
  --theme-accent-overlay-multiplier: 1;
  --theme-success: 91,180,154;
  --theme-success-overlay-multiplier: 1;
  --theme-surface-light: 149,179,160;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright: 255,255,255;
  --theme-surface-bright-overlay-multiplier: 1;
  --theme-surface-variant: 55,150,111;
  --theme-surface-variant-overlay-multiplier: 1;
  --theme-primary-darken-1: 0,204,0;
  --theme-primary-darken-1-overlay-multiplier: 1;
  --theme-secondary: 253,85,35;
  --theme-secondary-overlay-multiplier: 1;
  --theme-secondary-darken-1: 204,55,0;
  --theme-secondary-darken-1-overlay-multiplier: 2;
  --theme-error: 255,85,85;
  --theme-error-overlay-multiplier: 1;
  --theme-warning: 236,184,91;
  --theme-warning-overlay-multiplier: 1;
  --theme-on-background: 0,0,0;
  --theme-on-primary: 255,255,255;
  --theme-on-surface: 0,0,0;
  --theme-on-info: 255,255,255;
  --theme-on-accent: 0,0,0;
  --theme-on-success: 255,255,255;
  --theme-on-surface-light: 0,0,0;
  --theme-on-surface-bright: 0,0,0;
  --theme-on-surface-variant: 255,255,255;
  --theme-on-primary-darken-1: 0,0,0;
  --theme-on-secondary: 255,255,255;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-warning: 0,0,0;
  --border-color: 0, 0, 0;
  --border-opacity: 0.24;
  --high-emphasis-opacity: 1;
  --medium-emphasis-opacity: 0.87;
  --disabled-opacity: 0.5;
  --idle-opacity: 0.1;
  --hover-opacity: 0.2;
  --focus-opacity: 0.3;
  --selected-opacity: 0.3;
  --activated-opacity: 0.3;
  --pressed-opacity: 0.4;
  --dragged-opacity: 0.2;
  --theme-kbd: 0, 0, 0;
  --theme-on-kbd: 255, 255, 255;
  --theme-code: 0, 0, 0;
  --theme-on-code: 255, 255, 255;
}

[data-site-theme=blackguard] {
  color-scheme: dark;
  --theme-background: 15,12,36;
  --theme-primary: 231,129,13;
  --theme-surface: 30,24,74;
  --theme-info: 156,39,176;
  --theme-accent: 255,64,129;
  --theme-success: 132,179,138;
  --theme-surface-light: 54,43,137;
  --theme-surface-bright: 86,79,138;
  --theme-surface-variant: 100,88,180;
  --theme-primary-darken-1: 197,110,11;
  --theme-secondary: 138,43,226;
  --theme-secondary-darken-1: 121,25,203;
  --theme-error: 255,85,85;
  --theme-warning: 255,167,38;
  --theme-on-surface-variant: var(--default-color-rgba-white);
  --theme-on-background: var(--default-color-rgba-white);
  --theme-on-primary: var(--default-color-rgba-white);
  --theme-on-surface: var(--default-color-rgba-white);
  --theme-on-info: var(--default-color-rgba-white);
  --theme-on-accent: var(--default-color-rgba-white);
  --theme-on-success: var(--default-color-rgba-white);
  --theme-on-surface-light: var(--default-color-rgba-white);
  --theme-on-surface-bright: var(--default-color-rgba-white);
  --theme-on-primary-darken-1: var(--default-color-rgba-white);
  --theme-on-secondary: var(--default-color-rgba-white);
  --theme-on-secondary-darken-1: var(--default-color-rgba-white);
  --theme-on-error: var(--default-color-rgba-white);
  --theme-on-warning: var(--default-color-rgba-black);
  --theme-kbd: var(--default-color-rgba-dark-slate-gray);
  --theme-on-kbd: var(--default-color-rgba-white);
  --theme-code: var(--dark-color-rgba-slate-gray);
  --theme-on-code: var(--dark-color-rgba-silver);
  --border-color: var(--default-color-rgba-white);
  --theme-background-overlay-multiplier: 1;
  --theme-warning-overlay-multiplier: 2;
  --theme-primary-overlay-multiplier: 2;
  --theme-error-overlay-multiplier: 2;
  --theme-surface-overlay-multiplier: 1;
  --theme-secondary-darken-1-overlay-multiplier: 1;
  --theme-info-overlay-multiplier: 1;
  --theme-secondary-overlay-multiplier: 1;
  --theme-accent-overlay-multiplier: 2;
  --theme-primary-darken-1-overlay-multiplier: 2;
  --theme-success-overlay-multiplier: 2;
  --theme-surface-variant-overlay-multiplier: 1;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright-overlay-multiplier: 1;
  --border-opacity: 0.12;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.1;
  --hover-opacity: 0.08;
  --focus-opacity: 0.12;
  --selected-opacity: 0.12;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.16;
  --dragged-opacity: 0.08;
}

[data-site-theme=highContrast] {
  color-scheme: dark;
  --theme-background: var(--default-color-rgba-black);
  --theme-background-overlay-multiplier: 1;
  --theme-surface: 18,18,18;
  --theme-surface-overlay-multiplier: 1;
  --theme-primary: 255,215,0;
  --theme-primary-overlay-multiplier: 2;
  --theme-primary-darken-1: 230,195,0;
  --theme-primary-darken-1-overlay-multiplier: 2;
  --theme-secondary: 0,204,221;
  --theme-secondary-overlay-multiplier: 2;
  --theme-secondary-darken-1: 0,230,0;
  --theme-secondary-darken-1-overlay-multiplier: 2;
  --theme-accent: 255,0,255;
  --theme-accent-overlay-multiplier: 2;
  --theme-info: 49,170,255;
  --theme-info-overlay-multiplier: 2;
  --theme-warning: 255,170,0;
  --theme-warning-overlay-multiplier: 2;
  --theme-error: 255,0,0;
  --theme-error-overlay-multiplier: 2;
  --theme-success: 0,255,0;
  --theme-success-overlay-multiplier: 2;
  --theme-on-surface-variant: var(--default-color-rgba-white);
  --theme-surface-light: 34,34,34;
  --theme-surface-light-overlay-multiplier: 1;
  --theme-surface-bright: var(--default-color-rgba-black);
  --theme-surface-bright-overlay-multiplier: 1;
  --theme-surface-variant: 51,51,51;
  --theme-surface-variant-overlay-multiplier: 1;
  --theme-on-background: var(--default-color-rgba-white);
  --theme-on-surface: var(--default-color-rgba-white);
  --theme-on-primary: var(--default-color-rgba-black);
  --theme-on-primary-darken-1: var(--default-color-rgba-black);
  --theme-on-secondary: var(--default-color-rgba-black);
  --theme-on-secondary-darken-1: var(--default-color-rgba-black);
  --theme-on-accent: var(--default-color-rgba-white);
  --theme-on-info: var(--default-color-rgba-white);
  --theme-on-warning: var(--default-color-rgba-black);
  --theme-on-error: var(--default-color-rgba-white);
  --theme-on-success: var(--default-color-rgba-black);
  --theme-on-surface-light: var(--default-color-rgba-white);
  --theme-on-surface-bright: var(--default-color-rgba-white);
  --theme-kbd: var(--default-color-rgba-black);
  --theme-on-kbd: var(--default-color-rgba-white);
  --theme-code: var(--default-color-rgba-black);
  --theme-on-code: var(--default-color-rgba-white);
  --border-color: var(--default-color-rgba-white);
  --border-opacity: 0.87;
  --high-emphasis-opacity: 1;
  --medium-emphasis-opacity: 0.87;
  --disabled-opacity: 0.5;
  --idle-opacity: 0.1;
  --hover-opacity: 0.2;
  --focus-opacity: 0.3;
  --selected-opacity: 0.3;
  --activated-opacity: 0.3;
  --pressed-opacity: 0.4;
  --dragged-opacity: 0.2;
}

.button,
button {
  position: relative;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: rgb(var(--theme-on-surface));
  padding: var(--space-18) var(--space-24);
  font-size: var(--typography-bodytext-m);
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: -6px 6px 0px 0px rgb(var(--border-color));
}
.button:disabled,
button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.button:hover:not([disabled]):not(:focus), .button:focus, .button:disabled,
button:hover:not([disabled]):not(:focus),
button:focus,
button:disabled {
  --button-shadow-position: -2px 2px;
  transform: translate(-4px, 4px);
}
.button:hover:not([disabled]):not(:focus)::after, .button:focus::after,
button:hover:not([disabled]):not(:focus)::after,
button:focus::after {
  transform: translateX(var(--space-8));
}
.button:focus,
button:focus {
  border-color: rgb(var(--border-color));
  box-shadow: -6px 6px 0px 0px rgb(var(--border-color)), 0 4px 20px 0 rgb(var(--border-color));
}
.button.button--primary,
button.button--primary {
  --button-background: rgba(var(--color-rgba-primary), 1);
  --button-text-color: rgba(var(--color-rgba-white), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}
.button.button--tertiary,
button.button--tertiary {
  --button-background: rgba(var(--color-rgba-tertiary), 1);
  --button-text-color: rgba(var(--color-rgba-black), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}
.button.button--black,
button.button--black {
  --button-background: rgba(var(--color-rgba-black), 1);
  --button-text-color: rgba(var(--color-rgba-white), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}
.button.button--white,
button.button--white {
  --button-background: rgba(var(--color-rgba-white), 1);
  --button-text-color: rgba(var(--color-rgba-black), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}
.button.button--blue,
button.button--blue {
  --button-background: rgba(var(--color-rgba-blue), 1);
  --button-text-color: rgba(var(--color-rgba-white), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}
.button *.button--yellow,
button *.button--yellow {
  --button-background: rgba(var(--color-rgba-yellow), 1);
  --button-text-color: rgba(var(--color-rgba-black), 1);
  --button-shadow-background: rgba(var(--color-rgba-beige), 1);
  --button-shadow-focus-color: rgba(var(--color-rgba-primary, 0.6));
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.5;
}
label[aria-hidden=true] {
  display: none;
}

[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
[type=phone],
[type=file],
textarea,
select {
  padding: var(--space-14) var(--space-20);
  display: block;
  border-radius: 5rem;
  width: 100%;
  outline: none;
  line-height: var(--typography-lineheight-170);
  transition: border-color 0.3s ease;
  color: var(--form-color-input-text);
  font-size: var(--typography-bodytext-m);
  border: 1px solid rgb(var(--border-color));
  background-color: rgb(var(--theme-surface-light));
  /* Requires the element to be wrapped in a block-element with position: relative. */
}
[type=text]:focus,
[type=password]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=month]:focus,
[type=week]:focus,
[type=email]:focus,
[type=number]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=time]:focus,
[type=url]:focus,
[type=color]:focus,
[type=phone]:focus,
[type=file]:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 0px 6px 1px rgb(var(--border-color));
  transition: border-color 0.3s ease;
}
[type=text]:last-child,
[type=password]:last-child,
[type=date]:last-child,
[type=datetime]:last-child,
[type=datetime-local]:last-child,
[type=month]:last-child,
[type=week]:last-child,
[type=email]:last-child,
[type=number]:last-child,
[type=search]:last-child,
[type=tel]:last-child,
[type=time]:last-child,
[type=url]:last-child,
[type=color]:last-child,
[type=phone]:last-child,
[type=file]:last-child,
textarea:last-child,
select:last-child {
  margin-bottom: 0;
}
[type=text]::placeholder,
[type=password]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=month]::placeholder,
[type=week]::placeholder,
[type=email]::placeholder,
[type=number]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=color]::placeholder,
[type=phone]::placeholder,
[type=file]::placeholder,
textarea::placeholder,
select::placeholder {
  color: darkgrey;
  font-size: var(--theme-on-surface-bright);
}
[type=text]:disabled,
[type=password]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=month]:disabled,
[type=week]:disabled,
[type=email]:disabled,
[type=number]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=color]:disabled,
[type=phone]:disabled,
[type=file]:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
[type=text].error,
[type=password].error,
[type=date].error,
[type=datetime].error,
[type=datetime-local].error,
[type=month].error,
[type=week].error,
[type=email].error,
[type=number].error,
[type=search].error,
[type=tel].error,
[type=time].error,
[type=url].error,
[type=color].error,
[type=phone].error,
[type=file].error,
textarea.error,
select.error {
  border-color: #d81f27;
}
[type=text].error::placeholder,
[type=password].error::placeholder,
[type=date].error::placeholder,
[type=datetime].error::placeholder,
[type=datetime-local].error::placeholder,
[type=month].error::placeholder,
[type=week].error::placeholder,
[type=email].error::placeholder,
[type=number].error::placeholder,
[type=search].error::placeholder,
[type=tel].error::placeholder,
[type=time].error::placeholder,
[type=url].error::placeholder,
[type=color].error::placeholder,
[type=phone].error::placeholder,
[type=file].error::placeholder,
textarea.error::placeholder,
select.error::placeholder {
  color: transparent;
}
[type=text] + strong,
[type=text] .error,
[type=password] + strong,
[type=password] .error,
[type=date] + strong,
[type=date] .error,
[type=datetime] + strong,
[type=datetime] .error,
[type=datetime-local] + strong,
[type=datetime-local] .error,
[type=month] + strong,
[type=month] .error,
[type=week] + strong,
[type=week] .error,
[type=email] + strong,
[type=email] .error,
[type=number] + strong,
[type=number] .error,
[type=search] + strong,
[type=search] .error,
[type=tel] + strong,
[type=tel] .error,
[type=time] + strong,
[type=time] .error,
[type=url] + strong,
[type=url] .error,
[type=color] + strong,
[type=color] .error,
[type=phone] + strong,
[type=phone] .error,
[type=file] + strong,
[type=file] .error,
textarea + strong,
textarea .error,
select + strong,
select .error {
  visibility: visible;
  position: absolute;
  top: var(--space-34);
  left: var(--space-18);
  font-weight: 400;
  font-size: var(--typography-bodytext-s);
  color: #d81f27;
}
[type=text] + strong.active,
[type=text] .error.active,
[type=password] + strong.active,
[type=password] .error.active,
[type=date] + strong.active,
[type=date] .error.active,
[type=datetime] + strong.active,
[type=datetime] .error.active,
[type=datetime-local] + strong.active,
[type=datetime-local] .error.active,
[type=month] + strong.active,
[type=month] .error.active,
[type=week] + strong.active,
[type=week] .error.active,
[type=email] + strong.active,
[type=email] .error.active,
[type=number] + strong.active,
[type=number] .error.active,
[type=search] + strong.active,
[type=search] .error.active,
[type=tel] + strong.active,
[type=tel] .error.active,
[type=time] + strong.active,
[type=time] .error.active,
[type=url] + strong.active,
[type=url] .error.active,
[type=color] + strong.active,
[type=color] .error.active,
[type=phone] + strong.active,
[type=phone] .error.active,
[type=file] + strong.active,
[type=file] .error.active,
textarea + strong.active,
textarea .error.active,
select + strong.active,
select .error.active {
  visibility: visible;
}

[type=search] {
  display: block;
  border-radius: 5rem;
  width: 100%;
  padding: var(--space-12) var(--space-20);
  border: 2px solid transparent;
  outline: none;
  background-color: rgb(var(--theme-surface));
  color: currentColor;
  font-size: var(--typography-bodytext-m);
  line-height: var(--typography-lineheight-170);
  transition: border-color 0.3s ease;
  /* Requires the element to be wrapped in a block-element with position: relative. */
}
[type=search]::-webkit-search-decoration, [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-results-button, [type=search]::-webkit-search-results-decoration {
  display: none;
}
[type=search]:focus {
  border-color: rgb(var(--theme-on-surface));
  transition: border-color 0.125s ease;
}
[type=search]:last-child {
  margin-bottom: 0;
}
[type=search]::placeholder {
  color: darkgrey;
}
[type=search]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
[type=search]:not(:placeholder-shown):not(:focus):invalid {
  border-color: #d81f27;
}
[type=search]:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--color-dark-green);
}
[type=search] + strong {
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: var(--space-18);
  font-weight: 400;
  font-size: var(--typography-body-small);
  color: #d81f27;
}
[type=search] + strong.active {
  visibility: visible;
}

[type=search]::-webkit-search-decoration, [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-results-button, [type=search]::-webkit-search-results-decoration {
  display: none;
}

select {
  height: 52px;
  padding-right: 4.3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8' style='transform: rotate(180deg);'%3E%3Cpath d='M0 7.4a.6.6 0 0 1 .178-.426L7.069.176a.615.615 0 0 1 .862 0l6.891 6.798a.595.595 0 0 1 0 .85.615.615 0 0 1-.862 0L7.5 1.451 1.04 7.824a.615.615 0 0 1-.862 0A.598.598 0 0 1 0 7.4' style='fill: %232d2d2c;'%3E%3C/path%3E%3C/svg%3E");
  background-position: right 1.525rem center;
  background-repeat: no-repeat;
  background-size: 1.25rem auto;
}

input[type=checkbox],
input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  margin: 21.25px 0 0 10px;
}
input[type=checkbox]:focus-visible + label:before,
input[type=radio]:focus-visible + label:before {
  border-color: rgb(var(--theme-on-surface));
  transition: border-color 0.3s ease;
}
input[type=checkbox]:checked + label:after,
input[type=radio]:checked + label:after {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  cursor: not-allowed;
  opacity: 0.5;
}
input[type=checkbox] + label,
input[type=radio] + label {
  line-height: 1.5;
  color: inherit;
  position: relative;
  padding: 0;
  font-size: var(--typography-bodytext-m);
  cursor: pointer;
  user-select: none;
}
input[type=checkbox] + label:active:before,
input[type=radio] + label:active:before {
  border-color: rgb(var(--theme-surface));
  transition: border-color 0.3s ease;
}
input[type=checkbox] + label:before, input[type=checkbox] + label:after,
input[type=radio] + label:before,
input[type=radio] + label:after {
  content: "";
  position: absolute;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(var(--theme-surface));
  background-color: rgb(var(--theme-surface));
  transition: border-color 0.3s ease;
}
input[type=checkbox] + label:after,
input[type=radio] + label:after {
  top: 4px;
  left: 4px;
  height: 12px;
  width: 12px;
  background-color: #bf8000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type=radio] + label:before, input[type=radio] + label:after {
  border-radius: 50%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: var(--space-s) var(--space-m);
}
.form-grid .form-heading {
  display: inline-block;
  background-position: left 0 bottom 0px;
  background-size: 100% 0.3rem;
  background-repeat: no-repeat;
  line-height: var(--typography-lineheight-170);
  margin-bottom: var(--space-s);
}
.form-grid .form-item {
  position: relative;
}
.form-grid .form-required {
  padding: 0 5px;
}
.form-grid .form-tooltip-blob {
  width: 100%;
  z-index: 1;
  max-width: 390px;
  white-space: normal;
}
.form-grid .form-tooltip {
  border-radius: 50%;
  color: rgb(var(--theme-surface));
  font-weight: bold;
  font-size: var(--typography-bodytext-m);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 11px;
  top: 71%;
  transform: translateY(-60%);
  cursor: pointer;
}
.form-grid .form-tooltip:hover {
  border-radius: 50%;
  transform: translateY(-60%);
}
.form-grid .form-tooltip_error {
  background-color: #d81f27 !important;
  color: rgb(var(--theme-surface));
}
.form-grid .form-tooltip_error:hover {
  color: rgb(var(--theme-surface));
}
.form-grid .form-radio-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
}
.form-grid .grid-span {
  grid-column: 1/-1;
  position: relative;
}
.form-grid .grid-span-2 {
  grid-column: 1/-1;
}
.form-grid .grid-span-2-mid {
  grid-column: 1/-1;
}
.form-grid .grid-span-2-end {
  grid-column: 1/-1;
}
.form-grid .grid-span-3 {
  grid-column: 1/-1;
}
.form-grid .grid-span-3-end {
  grid-column: 1/-1;
}

[data-background] {
  --theme-overlay-multiplier: var(--theme-background-overlay-multiplier);
  background-color: rgb(var(--theme-background)) !important;
  color: rgb(var(--theme-on-background)) !important;
}

[data-background=surface] {
  --theme-overlay-multiplier: var(--theme-surface-overlay-multiplier);
  background-color: rgb(var(--theme-surface)) !important;
  color: rgb(var(--theme-on-surface)) !important;
}

[data-background=surfaceBright] {
  --theme-overlay-multiplier: var(
      --theme-surface-bright-overlay-multiplier
  );
  background-color: rgb(var(--theme-surface-bright)) !important;
  color: rgb(var(--theme-on-surface-bright)) !important;
}

[data-background=surfaceLight] {
  --theme-overlay-multiplier: var(--theme-surface-light-overlay-multiplier);
  background-color: rgb(var(--theme-surface-light)) !important;
  color: rgb(var(--theme-on-surface-light)) !important;
}

[data-background=surfaceVariant] {
  --theme-overlay-multiplier: var(
      --theme-surface-variant-overlay-multiplier
  );
  background-color: rgb(var(--theme-surface-variant)) !important;
  color: rgb(var(--theme-on-surface-variant)) !important;
}

[data-background=primary] {
  --theme-overlay-multiplier: var(--theme-primary-overlay-multiplier);
  background-color: rgb(var(--theme-primary)) !important;
  color: rgb(var(--theme-on-primary)) !important;
}

[data-background=primaryDarken-1] {
  --theme-overlay-multiplier: var(
      --theme-primary-darken-1-overlay-multiplier
  );
  background-color: rgb(var(--theme-primary-darken-1)) !important;
  color: rgb(var(--theme-on-primary-darken-1)) !important;
}

[data-background=secondary] {
  --theme-overlay-multiplier: var(--theme-secondary-overlay-multiplier);
  background-color: rgb(var(--theme-secondary)) !important;
  color: rgb(var(--theme-on-secondary)) !important;
}

[data-background=secondaryDarken-1] {
  --theme-overlay-multiplier: var(
      --theme-secondary-darken-1-overlay-multiplier
  );
  background-color: rgb(var(--theme-secondary-darken-1)) !important;
  color: rgb(var(--theme-on-secondary-darken-1)) !important;
}

[data-background=error] {
  --theme-overlay-multiplier: var(--theme-error-overlay-multiplier);
  background-color: rgb(var(--theme-error)) !important;
  color: rgb(var(--theme-on-error)) !important;
}

[data-background=info] {
  --theme-overlay-multiplier: var(--theme-info-overlay-multiplier);
  background-color: rgb(var(--theme-info)) !important;
  color: rgb(var(--theme-on-info)) !important;
}

[data-background=success] {
  --theme-overlay-multiplier: var(--theme-success-overlay-multiplier);
  background-color: rgb(var(--theme-success)) !important;
  color: rgb(var(--theme-on-success)) !important;
}

[data-background=warning] {
  --theme-overlay-multiplier: var(--theme-warning-overlay-multiplier);
  background-color: rgb(var(--theme-warning)) !important;
  color: rgb(var(--theme-on-warning)) !important;
}

[data-background=surfaceVariantAlt] {
  --theme-overlay-multiplier: var(
      --theme-surface-variant-alt-overlay-multiplier
  );
  background-color: rgb(var(--theme-surface-variant-alt)) !important;
  color: rgb(var(--theme-on-surface-variant-alt)) !important;
}

[data-background=tertiary] {
  --theme-overlay-multiplier: var(--theme-tertiary-overlay-multiplier);
  background-color: rgb(var(--theme-tertiary)) !important;
  color: rgb(var(--theme-on-tertiary)) !important;
}

[data-background=accent] {
  --theme-overlay-multiplier: var(--theme-accent-overlay-multiplier);
  background-color: rgb(var(--theme-accent)) !important;
  color: rgb(var(--theme-on-accent)) !important;
}

[data-background=quarternary] {
  --theme-overlay-multiplier: var(--theme-quarternary-overlay-multiplier);
  background-color: rgb(var(--theme-quarternary)) !important;
  color: rgb(var(--theme-on-quarternary)) !important;
}

.border-background {
  --border-color: var(--theme-background);
}

.border-surface {
  --border-color: var(--theme-surface);
}

.border-surface-bright {
  --border-color: var(--theme-surface-bright);
}

.border-surface-light {
  --border-color: var(--theme-surface-light);
}

.border-surface-variant {
  --border-color: var(--theme-surface-variant);
}

.border-primary {
  --border-color: var(--theme-primary);
}

.border-primary-darken-1 {
  --border-color: var(--theme-primary-darken-1);
}

.border-secondary {
  --border-color: var(--theme-secondary);
}

.border-secondary-darken-1 {
  --border-color: var(--theme-secondary-darken-1);
}

.border-error {
  --border-color: var(--theme-error);
}

.border-info {
  --border-color: var(--theme-info);
}

.border-success {
  --border-color: var(--theme-success);
}

.border-warning {
  --border-color: var(--theme-warning);
}

.border-surface-variant-alt {
  --border-color: var(--theme-surface-variant-alt);
}

.border-tertiary {
  --border-color: var(--theme-tertiary);
}

.border-accent {
  --border-color: var(--theme-accent);
}

.border-quarternary {
  --border-color: var(--theme-quarternary);
}

.text-background {
  color: rgb(var(--theme-background)) !important;
}

.text-surface {
  color: rgb(var(--theme-surface)) !important;
}

.text-surface-bright {
  color: rgb(var(--theme-surface-bright)) !important;
}

.text-surface-light {
  color: rgb(var(--theme-surface-light)) !important;
}

.text-surface-variant {
  color: rgb(var(--theme-surface-variant)) !important;
}

.text-primary {
  color: rgb(var(--theme-primary)) !important;
}

.text-primary-darken-1 {
  color: rgb(var(--theme-primary-darken-1)) !important;
}

.text-secondary {
  color: rgb(var(--theme-secondary)) !important;
}

.text-secondary-darken-1 {
  color: rgb(var(--theme-secondary-darken-1)) !important;
}

.text-error {
  color: rgb(var(--theme-error)) !important;
}

.text-info {
  color: rgb(var(--theme-info)) !important;
}

.text-success {
  color: rgb(var(--theme-success)) !important;
}

.text-warning {
  color: rgb(var(--theme-warning)) !important;
}

.text-surface-variant-alt {
  color: rgb(var(--theme-surface-variant-alt)) !important;
}

.text-tertiary {
  color: rgb(var(--theme-tertiary)) !important;
}

.text-accent {
  color: rgb(var(--theme-accent)) !important;
}

.text-quarternary {
  color: rgb(var(--theme-quarternary)) !important;
}

.on-background {
  color: rgb(var(--theme-on-background)) !important;
}

.on-surface {
  color: rgb(var(--theme-on-surface)) !important;
}

.on-surface-bright {
  color: rgb(var(--theme-on-surface-bright)) !important;
}

.on-surface-light {
  color: rgb(var(--theme-on-surface-light)) !important;
}

.on-surface-variant {
  color: rgb(var(--theme-on-surface-variant)) !important;
}

.on-primary {
  color: rgb(var(--theme-on-primary)) !important;
}

.on-primary-darken-1 {
  color: rgb(var(--theme-on-primary-darken-1)) !important;
}

.on-secondary {
  color: rgb(var(--theme-on-secondary)) !important;
}

.on-secondary-darken-1 {
  color: rgb(var(--theme-on-secondary-darken-1)) !important;
}

.on-error {
  color: rgb(var(--theme-on-error)) !important;
}

.on-info {
  color: rgb(var(--theme-on-info)) !important;
}

.on-success {
  color: rgb(var(--theme-on-success)) !important;
}

.on-warning {
  color: rgb(var(--theme-on-warning)) !important;
}

.on-surface-variant-alt {
  color: rgb(var(--theme-on-surface-variant-alt)) !important;
}

.on-tertiary {
  color: rgb(var(--theme-on-tertiary)) !important;
}

.on-accent {
  color: rgb(var(--theme-on-accent)) !important;
}

.on-quarternary {
  color: rgb(var(--theme-on-quarternary)) !important;
}

.main__header {
  padding: var(--space-24);
}

.main__footer {
  padding: var(--space-24);
}

.main__footer-content {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-size: var(--typography-preamble-m);
}

.main__footer-legal-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main__footer-legal {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}
.main__footer-legal li {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}
.main__footer-legal li:not(:last-child) {
  margin-right: var(--space-24);
}

/* Do not import the individual grids in this file. It will cause them to be added twice to the markup */
[data-container-width=full] {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site] {
  max-width: var(--container-width-xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site-large] {
  max-width: var(--container-width-2xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site-big] {
  max-width: var(--container-width-3xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=bodytext] {
  max-width: var(--container-width-large);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header] {
  max-width: var(--container-width-xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header-large] {
  max-width: var(--container-width-2xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header-big] {
  max-width: var(--container-width-3xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer] {
  max-width: var(--container-width-xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer-large] {
  max-width: var(--container-width-2xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer-big] {
  max-width: var(--container-width-3xlarge);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*{ "key":"one-per-row", "value":"", "name":"one Per Row", "columns":11 }*/
[data-layout-smart=one-per-row] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  gap: 24px;
}
@media (min-width: 1024px) {
  [data-layout-smart=one-per-row][data-layout-use-full-bleed=false] {
    gap: 0;
  }
}

/*{ "key":"two-per-row", "value":"", "name":"two Per Row", "columns":2 }*/
@media (min-width: 1024px) {
  [data-layout-smart=two-per-row] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  [data-layout-smart=two-per-row][data-layout-use-full-bleed=false] {
    gap: 0;
  }
}
[data-layout-smart=two-per-row] .column-2-all {
  grid-column: 1/3;
}

/*{ "key":"three-per-row", "value":"", "name":"three Per Row", "columns":3 }*/
@media (min-width: 1024px) {
  [data-layout-smart=three-per-row] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 24px;
  }
}
[data-layout-smart=three-per-row] .column-2-first {
  grid-column: 1/3;
}
[data-layout-smart=three-per-row] .column-2-last {
  grid-column: 2/4;
}
[data-layout-smart=three-per-row] .column-3-all {
  grid-column: 1/4;
}

/*{ "key":"four-per-row", "value":"", "name":"Four Per Row", "columns":4 }*/
@media (min-width: 1024px) {
  [data-layout-smart=four-per-row] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 24px;
  }
}
@media (min-width: 1280px) {
  [data-layout-smart=four-per-row] {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  [data-layout-smart=four-per-row][data-layout-use-full-bleed=false] {
    gap: 0;
  }
}
[data-layout-smart=four-per-row] .column-2-first {
  grid-column: 1/3;
}
[data-layout-smart=four-per-row] .column-2-center {
  grid-column: 2/4;
}
[data-layout-smart=four-per-row] .column-2-last {
  grid-column: 3/5;
}
[data-layout-smart=four-per-row] .column-3-first {
  grid-column: 1/4;
}
[data-layout-smart=four-per-row] .column-3-last {
  grid-column: 2/5;
}
[data-layout-smart=four-per-row] .column-4-all {
  grid-column: 1/5;
}

.main-signin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-signin__content {
  display: grid;
  flex: 1;
}
.main-signin__content--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-50);
  position: relative;
}
.main-signin__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-50) 0 0;
  align-items: center;
  gap: var(--space-50);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-signin__content-wrapper {
    gap: var(--space-100);
    margin-bottom: 0px;
  }
}
.main-signin__content-header {
  text-align: center;
}
.main-signin__content-header .main-signin__content-logo {
  display: inline-block;
  color: currentColor;
}
.main-signin__content-main {
  width: 381px;
  padding: 0 var(--space-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-20);
}
.main-signin__content-footer {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.main-signin__content-footer p {
  margin: 0;
  flex: 1;
  text-align: center;
}

.main-signin__promo-img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-signin__promo-img img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}

.main-signin__form {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  align-self: stretch;
}

.main-signin__field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.main-signin__field-group label {
  display: block;
  margin: 0;
  cursor: pointer;
  font-weight: 700;
  text-align: left;
  font-size: var(--typography-bodytext-m);
}

.main-signin__secondary-field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.main-signin__action-wrap {
  flex: 1;
}
.main-signin__action-wrap--align-right {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
