
// This is color scheme for light (default) mode
:root {
    --default-color-rgba-white: 255,255,255;
    --default-color-rgba-ghost-white: 250,250,250;
    --default-color-rgba-black: 0,0,0;
    --default-color-rgba-dark-slate-gray: 33,37,41;
    --default-color-rgba-dark-gray: 66,66,66;
    --default-color-rgba-gainsboro: 222,222,222;
    --default-color-rgba-whitesmoke: 245,245,245;
    --default-color-rgba-light-gray: 238,238,238;
    --default-color-rgba-dark-blue: 31,85,146;
    --default-color-rgba-light-blue: 92,187,246;
    --default-color-rgba-teal-blue: 1,135,134;
    --default-color-rgba-dodger-blue: 24,103,192;
    --default-color-rgba-vivid-blue: 33,150,243;
    --default-color-rgba-dark-red: 176,0,32;
    --default-color-rgba-grass-green: 76,175,80;
    --default-color-rgba-deep-orange: 251,140,0;
    --default-color-rgba-salmon-pink: 229,115,115;
    --default-color-rgba-deep-blue: 0,92,175;
    --default-color-rgba-steel-blue: 176,209,232;
}

// This is color scheme for dark mode
:root {
    --dark-color-rgba-dark-gray: 18,18,18;
    --dark-color-rgba-jet-black: 33,33,33;
    --dark-color-rgba-charcoal-gray: 71,71,71;
    --dark-color-rgba-neutral-gray: 163,163,163;
    --dark-color-rgba-cerulean-blue: 39,124,193;
    --dark-color-rgba-sea-green: 72,169,166;
    --dark-color-rgba-rose-pink: 207,102,121;
    --dark-color-rgba-jet-gray: 51,51,51;
    --dark-color-rgba-deep-pink: 255,64,129;
    --dark-color-rgba-slate-gray: 52,52,52;
    --dark-color-rgba-silver: 204,204,204;
}

// This is color scheme for ... mode
:root {}

// This is color scheme for ... mode
:root {}
