// This is file set container width for site

:root {
    --container-width-3xlarge: 1776px;
    --container-width-2xlarge: 1512px;
    --container-width-xlarge: 1440px;
    --container-width-large: 1280px;
    --container-width-medium: 1024px;
    --container-width-small: 768px;
}
