:root {
    /*{ "key":"--opacity-value-01", "value":"0.1", "name":"Value Opacity 0.1" }*/
    --opacity-value-01: 0.1;

    /*{ "key":"--opacity-value-02", "value":"0.2", "name":"Value Opacity 0.2" }*/
    --opacity-value-02: 0.2;

    /*{ "key":"--opacity-value-03", "value":"0.3", "name":"Value Opacity 0.3" }*/
    --opacity-value-03: 0.3;

    /*{ "key":"--opacity-value-04", "value":"0.4", "name":"Value Opacity 0.4" }*/
    --opacity-value-04: 0.4;

    /*{ "key":"--opacity-value-05", "value":"0.5", "name":"Value Opacity 0.5" }*/
    --opacity-value-05: 0.5;

    /*{ "key":"--opacity-value-06", "value":"0.6", "name":"Value Opacity 0.6" }*/
    --opacity-value-06: 0.6;

    /*{ "key":"--opacity-value-07", "value":"0.7", "name":"Value Opacity 0.7" }*/
    --opacity-value-07: 0.7;

    /*{ "key":"--opacity-value-08", "value":"0.8", "name":"Value Opacity 0.8" }*/
    --opacity-value-08: 0.8;

    /*{ "key":"--opacity-value-09", "value":"0.9", "name":"Value Opacity 0.9" }*/
    --opacity-value-09: 0.9;
}

