:root {
    /*{ "key":"--space-4", "value":"4px", "name":"" }*/
    --space-4: 4px;
    /*{ "key":"--space-8", "value":"8px", "name":"" }*/
    --space-8: 8px;
    /*{ "key":"--space-10", "value":"10px", "name":"" }*/
    --space-10: 10px;
    /*{ "key":"--space-12", "value":"12px", "name":"" }*/
    --space-12: 12px;
    /*{ "key":"--space-14", "value":"14px", "name":"" }*/
    --space-14: 14px;
    /*{ "key":"--space-16", "value":"16px", "name":"" }*/
    --space-16: 16px;
    /*{ "key":"--space-18", "value":"18px", "name":"" }*/
    --space-18: 18px;
    /*{ "key":"--space-20", "value":"20px", "name":"" }*/
    --space-20: 20px;
    /*{ "key":"--space-24", "value":"24px", "name":"" }*/
    --space-24: 24px;
    /*{ "key":"--space-32", "value":"32px", "name":"" }*/
    --space-32: 32px;
    /*{ "key":"--space-36", "value":"36px", "name":"" }*/
    --space-36: 36px;
    /*{ "key":"--space-40", "value":"40px", "name":"" }*/
    --space-40: 40px;
    /*{ "key":"--space-43", "value":"43px", "name":"" }*/
    --space-43: 43px;
    /*{ "key":"--space-48", "value":"48px", "name":"" }*/
    --space-48: 48px;
    /*{ "key":"--space-50", "value":"50px", "name":"" }*/
    --space-50: 50px;
    /*{ "key":"--space-52", "value":"52px", "name":"" }*/
    --space-52: 52px;
    /*{ "key":"--space-55", "value":"55px", "name":"" }*/
    --space-55: 55px;
    /*{ "key":"--space-60", "value":"60px", "name":"" }*/
    --space-60: 60px;
    /*{ "key":"--space-64", "value":"64px", "name":"" }*/
    --space-64: 64px;
    /*{ "key":"--space-72", "value":"72px", "name":"" }*/
    --space-72: 72px;
    /*{ "key":"--space-80", "value":"80px", "name":"" }*/
    --space-80: 80px;
    /*{ "key":"--space-100", "value":"100px", "name":"" }*/
    --space-100: 100px;
    /*{ "key":"--space-116", "value":"116px", "name":"" }*/
    --space-116: 116px;
    /*{ "key":"--space-120", "value":"120px", "name":"" }*/
    --space-120: 120px;
    /*{ "key":"--space-850", "value":"850px", "name":"" }*/
    --space-850: 850px;
}
