:root {
    /*{ "key":"--typography-body-font-ibm", "value":'IBM', "name":"IBM Plex Sans" }*/
    --typography-body-font-ibm: 'IBM Plex Sans', sans-serif;

    /*{ "key":"--typography-body-regular", "value":"1.8rem", "name":"" }*/
    --typography-body-regular: 1.8rem;

    /*{ "key":"--typography-body-medium", "value":"1.6rem", "name":"" }*/
    --typography-body-medium: 1.6rem;

    /*{ "key":"--typography-body-small", "value":"1.4rem", "name":"" }*/
    --typography-body-small: 1.4rem;

    /*{ "key":"--typography-body-smaller", "value":"1.2rem", "name":"" }*/
    --typography-body-smaller: 1.2rem;

    /*{ "key":"--typography-preamble-2xl", "value":"2rem", "name":"" }*/
    --typography-preamble-2xl: 2rem;

    /*{ "key":"--typography-preamble-xl", "value":"1.8rem", "name":"" }*/
    --typography-preamble-xl: 1.8rem;

    /*{ "key":"--typography-preamble-l", "value":"1.6rem", "name":"" }*/
    --typography-preamble-l: 1.6rem;

    /*{ "key":"--typography-preamble-m", "value":"1.4rem", "name":"" }*/
    --typography-preamble-m: 1.4rem;

    /*{ "key":"--typography-preamble-sm", "value":"1.4rem", "name":"" }*/
    --typography-preamble-sm: 1.4rem;

    /*{ "key":"--typography-preamble-s", "value":"1.2rem", "name":"" }*/
    --typography-preamble-s: 1.2rem;

    /*{ "key":"--typography-preamble-sx", "value":"1rem", "name":"" }*/
    --typography-preamble-sx: 1rem;

    /*{ "key":"--typography-h1-medium", "value":"7rem", "name":"" }*/
    --typography-h1-medium: 7rem;

    /*{ "key":"--typography-h2-medium", "value":"5rem", "name":"" }*/
    --typography-h2-medium: 5rem;

    /*{ "key":"--typography-h3-medium", "value":"3rem", "name":"" }*/
    --typography-h3-medium: 3rem;

    /*{ "key":"--typography-h4-medium", "value":"2.4rem", "name":"" }*/
    --typography-h4-medium: 2.4rem;

    /*{ "key":"--typography-h5-medium", "value":"1.8rem", "name":"" }*/
    --typography-h5-medium: 1.8rem;

    /*{ "key":"--typography-h6-medium", "value":"1.6rem", "name":"" }*/
    --typography-h6-medium: 1.6rem;

}