// This file contains CSS custom properties for typography line heights

:root {
    /*{ "key":"--typography-line-height-100", "value":"100%", "name":"" }*/
    --typography-line-height-100: 100%;

    /*{ "key":"--typography-line-height-110", "value":"110%", "name":"" }*/
    --typography-line-height-110: 110%;

    /*{ "key":"--typography-line-height-120", "value":"120%", "name":"" }*/
    --typography-line-height-120: 120%;

    /*{ "key":"--typography-line-height-130", "value":"130%", "name":"" }*/
    --typography-line-height-130: 130%;

    /*{ "key":"--typography-line-height-140", "value":"140%", "name":"" }*/
    --typography-line-height-140: 140%;

    /*{ "key":"--typography-line-height-150", "value":"150%", "name":"" }*/
    --typography-line-height-150: 150%;

    /*{ "key":"--typography-line-height-160", "value":"160%", "name":"" }*/
    --typography-line-height-160: 160%;

    /*{ "key":"--typography-line-height-170", "value":"170%", "name":"" }*/
    --typography-line-height-170: 170%;

    /*{ "key":"--typography-line-height-180", "value":"180%", "name":"" }*/
    --typography-line-height-180: 180%;

    /*{ "key":"--typography-line-height-190", "value":"190%", "name":"" }*/
    --typography-line-height-190: 190%;
}